<br><br><br>
<body>

    <h3>Ajouter un utilisateur : </h3>
<table>
    <tr>
        <td>Renseignez un utilisateur (adresse mail) :</td>
        <td><input></td>
        <td><button>Confirmer</button></td>
        <td>Nom:</td>
        <td><input disabled></td>
        <td>Prénom:</td>
        <td><input disabled></td>
        <td>Id:</td>
        <td><input disabled></td>
        <td><input type="checkbox" id="Sendmail" name="Sendmail" checked>Envoyer un E-mail à cet utilisateur ?</td>

    </tr>
    <tr>
        <td>Renseignez un numéro de telephone :</td>
        <td><input></td>
    </tr>
    <tr>
        <td>Renseignez un numéro cour :</td>
        <td><input></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><button>Ajouter un utilisateur !</button></td>
    </tr>
</table>
</body>